* {
  background-color: #f9f5f2;
  font-size: 12pt;
  margin: 0;
  text-align: center;
}

.cat-profile-pic {
  height: 12rem;
}

.cat-index-section {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: #62815c !important;
}

.nav-link:hover {
  font-weight: bold;
}

.logo {
  width: 13rem;
}

.nav {
  justify-content: space-between;
}

.main-content-image {
  width: 45rem;
}

footer {
  bottom: 0;
  color: #62815c;
  font-size: 16pt;
  padding: 20px;
  position: fixed;
  width: 100%;
}
