* {
  margin: 0;
  background-color: #f9f5f2;
  text-align: center;
}

.logo {
  width: 14rem;
}

.main-content-image {
  border-radius: 25px;
  width: 20rem;
  padding: 20px;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
}
